# 编译输出
unpackage/
dist/
build/

# 依赖目录
node_modules/
# uniapp 依赖组件包
uni_modules/

# 系统文件
.DS_Store
Thumbs.db

# IDE与编辑器
.vscode/
.idea/
.hbuilderx/
*.swp
*.swo

# 日志与临时文件
*.log
*.tmp
*.bak

# 其他
*.class
*.jar
*.war
*.ear
# APK files
*.apk
unpackage/release/
unpackage/dist/
